.login-container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 25%;
}

.input-container {
  align-items: left;
}

.input-error {
  border: 1px solid #e11d48;
}

.input-error-message {
  display: inline-block;
  margin: 0.25rem 0 0 0;
  color: #e11d48;
}