.input-container {
  margin-bottom: 0.5rem;
}

.input-container input {
  width: -webkit-fill-available;
  font: inherit;
  border: 1px solid #ff9fdc6c;
  background: #ff9fdc13;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  opacity: 1;
  color: gray;
}

.input-container input:focus {
  outline: none;
  border: 1px solid #ff47bc;
  background: #ff9fdc13;
}

.input-container input::placeholder {
  opacity: 0.5;
  display: block;
}

.input-error {
  border: 1px solid #e11d48;
}

.input-error-message {
  display: inline-block;
  margin: 0.25rem 0 0 0;
  color: #e11d48;
}