.recipient-container {
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.recipient-card {
  width: 24rem;
}

.back-button {
  width: 15rem;
  margin: 1rem;
}